<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

  <div style="background-color:steelblue;" class="fixed-bottom container-fluid-footer">
    <p style="position: relative; left:-600px;"> FOLLOW US 👉&nbsp&nbsp&nbsp <a href="https://www.youtube.com/" target="blank" style="color:black;"><i class="fa-brands fa-youtube fa-xl "></i></a> &nbsp <a href="https://www.facebook.com/" target="blank" style="color:black;""><i class="fa-brands fa-facebook-square fa-xl"></i></a> &nbsp <a href="https://www.instagram.com/" target="blank" style="color:black;"><i class="fa-brands fa-instagram fa-xl"></i></a></p><p style="position: relative; top:-40px; left:500px;">  © 2022 EasySurvey. All Rights Reserved.</p>
  </div>
</nav>
</div>