<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

<main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators" > <!-- Two clickable lines underneath the text -->
        <button style=" align-items: center;" type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <!-- Main image first slide -->
          <img src="/content/images/survey.gif" style=" width:100%; height:100%; max-width: 100%;">   
  
          <div class="container">
            <div class="carousel-caption">
              <h1>Easy Survey</h1>
              <p>Generate Surveys Online in Minutes</p>
              <p><a class="btn btn-lg btn-primary" onclick="location.href = 'login'">Login Now</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <!-- Main image second slide -->
          <img src="/content/images/project.png" style=" width:100%; height:100%;"> 
  
          <div class="container">
            <div class="carousel-caption">
              <h1>The project</h1>
              <p>If you want to learn more about the project click on the button below.</p>
              <p><a class="btn btn-lg btn-primary" onclick="location.href = 'about'">About EasySurvey</a></p>
            </div>
          </div>
        </div>      
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        
      </button>
      </div>
      <div class="container marketing">
  
        <br>
        <h1 style="text-align:center; color: steelblue; font-weight: bolder;"> THE TEAM</h1>
        <br>
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img src="/content/images/darosh.png" style="border-radius:50%; width:150px; height:150px;">  
            <h2 style="color: steelblue; font-weight: bolder;" class="fw-normal">Darosh</h2>
            <p style="color: steelblue; font-weight: bolder;">Web Designer</p>
            <p><a class="btn btn-secondary" onclick="location.href ='https://github.com/daroshIrani'" target="_blank">About Darosh</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="/content/images/amin.png" style="border-radius:50%; width:150px; height:150px;"> 
            <h2 style="color: steelblue; font-weight: bolder;" class="fw-normal">Amin</h2>
            <p style="color: steelblue; font-weight: bolder;">Database Programmer</p>
            <p><a class="btn btn-secondary" onclick="location.href ='https://github.com/AminHosseinTehrani'" target="_blank">About Amin</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="/content/images/alan.png" style="border-radius:50%; width:150px; height:150px;">   
            <h2 style="color: steelblue; font-weight: bolder;" class="fw-normal">Alan</h2>
            <p style="color: steelblue; font-weight: bolder;">UI Programmer</p>
            <p><a class="btn btn-secondary" onclick="location.href ='https://github.com/shuang81'" target="_blank">About Alan</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-lg-4">
            <img src="/content/images/mo.png" style="border-radius:50%; width:150px; height:150px;">   
            <br>
    
            <h2 style="color: steelblue; font-weight: bolder;" class="fw-normal">Mohammad</h2>
            <p style="color: steelblue; font-weight: bolder;">Lead Software Engineer</p>
            <p><a class="btn btn-secondary" onclick="location.href ='https://github.com/AngryArab'" target="_blank">About Mohammad</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="/content/images/tarik.png" style="border-radius:50%; width:150px; height:150px;">   
            <h2 style="color: steelblue; font-weight: bolder;" class="fw-normal">Tarik</h2>
            <p style="color: steelblue; font-weight: bolder;">Project Manager​</p>
            <p><a class="btn btn-secondary" onclick="location.href ='https://github.com/tobeidi'" target="_blank">About Tarik</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="/content/images/foto.jpg" style="border-radius:50%; width:150px; height:150px;">   
            <h2 style="color: steelblue; font-weight: bolder;" class="fw-normal">Riccardo</h2>
            <p style="color: steelblue; font-weight: bolder;">Security Programmer</p>
            <p><a class="btn btn-secondary" onclick="location.href ='https://github.com/ItalCad91'" target="_blank">About Riccardo</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <br>
  </main>

  